@import '~/assets/scss/theme.scss';

html,
body {
  margin: 0;
  padding: 0;
}

html {
  color: $main;
  background-color: $background;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
}

main,
header,
footer {
  margin: 0 auto;
  padding: 0em 1em;
  min-width: 20rem;
  max-width: 40rem;
}

h1 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  padding-block-start: 0.2em;
  padding-block-end: 0.2em;
  font-size: 2em;
  font-weight: 100;
  color: $accent;
}

h2 {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  padding-block-start: 0.1em;
  padding-block-end: 0.1em;
  font-size: 1.5em;
  font-weight: 100;
  color: $accent;
}

h3 {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  padding-block-start: 0.1em;
  padding-block-end: 0.1em;
  font-size: 1.2em;
  font-weight: 100;
  color: $accent;
}

code {
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  font-family: Consolas, monospace;
  background: rgba(24, 28, 31, 0.08);
}

hr {
  margin: 1.5em 0;
  height: 1px;
  background-color: $accent;
  border: none;
}

.button {
  display: inline-block;
  padding: 0.2em 2em;
  box-sizing: border-box;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  color: $accent;
  background: $base;
  border: solid 1px $accent;
  border-radius: 1em;
}

.content {
  font-family:"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
  font-weight: 500;

  h1,
  h2 {
    margin: 1em 0em;
    font-weight: normal;
    border-block-end: solid 1px $accent;
  }

  h3 {
    margin-block-start: 1.6em;
    margin-block-end: 0.8em;
    font-weight: normal;
  }

  a {
    color: $accent;
  }
}
